---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About";

const identity = {
  firstName: "Bart",
  country: "Nederland",
  occupation: "Programmeur",
  hobbies: ["Kluifjes", "Speeltjes", "Verzorging"],
};

const products = ["Kluifjes", "Speeltjes", "Verzorging"];

const productColor = 'navy';
---

<BaseLayout title={pageTitle}>
	<main>
		<h1>
            <span class="text-gradient">{pageTitle}</span>
        </h1>
		<p class="instructions">
			Hondenkunde is opgericht om producten die echt goed zijn te promoten.<br />
			<strong>Tip:</strong> Bekijk de filmpjes van onze Friese Stabij Arti die alle producten met veel plezier test.
		</p>
		<p>Here are a few facts about me:</p>
			<ul>
  				<li>My name is {identity.firstName}.</li>
  				<li>I live in {identity.country === "Nederland" && identity.country} and I work as a {identity.occupation}.</li>
  				{identity.hobbies.length >= 2 &&
   				 <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  			}
			</ul>
		<p>Onze producten:</p>
		<ul>
  			{products.map((skill) => <li class="product">{skill}</li>)}
		</ul>
	</main>
</BaseLayout>

<style define:vars={{productColor}}>
	
	.product {
		color: rgb(173, 83, 83);
		color: var(--productColor);
	}
</style>
